<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" package="vub.lhoste.ttsnotifier"
	android:versionName="1.6">
	<application android:label="@string/app_name" android:icon="@drawable/icon">
		<service android:name=".TTSNotifierService" />
		<activity android:name=".TTSNotifierPreferences"
			android:label="@string/app_name" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".TTSNotifierReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
				<action android:name="android.intent.action.ACTION_BATTERY_LOW" />
				<action android:name="android.intent.action.ACTION_MEDIA_BAD_REMOVAL" />
				<action android:name="android.intent.action.ACTION_PROVIDER_CHANGED" />
				<action android:name="android.intent.action.ACTION_MEDIA_MOUNTED" />
				<action android:name="android.intent.action.ACTION_MEDIA_UNMOUNTED" />
				<action android:name="android.net.wifi.PICK_WIFI_NETWORK" />
				<action android:name="android.net.wifi.STATE_CHANGE" />
				<action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
				<!-- <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />  -->
			</intent-filter>
		</receiver>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
	<!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>  -->
</manifest>